.bx-chevron-down:before {
    content: "\e9ac";
}
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #5846f9;
    text-decoration: none;
}

a:hover {
    color: #8577fb;
    text-decoration: none;
}

section {
    padding: 100px 0;
    overflow: hidden;
  }
  
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #5846f9;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

h2 {
    font-family: "Poppins", sans-serif;
}
.faq {
    background: linear-gradient(42deg, #5846f9 0%, #7b27d8 100%);
  }
  .faq .section-title h2, .faq .section-title p {
    color: #fff;
  }
  
  .faq .section-title h2::after {
    background: rgba(255, 255, 255, 0.6);
  }
  .faq .faq-list {
    padding: 0 100px;
  }
  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
.faq .faq-list li + li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: relative;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
  }
  .faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #8577fb;
  }
  
  .faq .faq-list .icon-show, .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #2c4964;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #5846f9;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  }
  
  